<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBM12FyWc_dGHw_EA7gYziG-mSJv0g0nVY</string>
	<key>GCM_SENDER_ID</key>
	<string>432397623403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.hiedu</string>
	<key>PROJECT_ID</key>
	<string>hiedu-7b8e8</string>
	<key>STORAGE_BUCKET</key>
	<string>hiedu-7b8e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432397623403:ios:57d714ace1c5d30138912e</string>
</dict>
</plist>